<?xml version="1.0" encoding="UTF-8"?>
<suite name="我的测试套件">
	<test name="测试模块一">
		<classes >
			<class name="org.extentreport.TestMethodDemo">
				<methods>
					<include name="test1"/>
					<include name="test2"/>
					<include name="test3"/>
					<include name="logDemo"/>
				</methods>
			</class>
			
		</classes>
	</test>
	
	<listeners>
		<listener class-name="org.extentreport.ExtentTestNGIReporterListener" ></listener>
	</listeners>
</suite>